@font-face {
  font-family: "OpenSans";
  src:
    url("../fonts/OpenSans-Regular.woff"),
    url("../fonts/OpenSans-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.woff"), url("../fonts/OpenSans-Bold.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src:
    url("../fonts/OpenSans-SemiBold.woff"),
    url("../fonts/OpenSans-SemiBold.woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "ArchivoBlack";
  src:
    url("../fonts/ArchivoBlack-Regular.woff"),
    url("../fonts/ArchivoBlack-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background: #111111;
}

.header {
  position: relative;
  width: 793px;
  height: 156px;
  top: 89px;
  left: 190px;
  z-index: 1;
}

.header::before {
  content: "";
  position: absolute;

  top: 75%;
  right: -200px;
  transform: translate(190%, 5%);

  width: 1800px;
  height: 1800px;

  background: radial-gradient(circle, rgba(80, 80, 200, 0.3), transparent 70%);

  z-index: -1;
}

.header-title {
  font-family: ArchivoBlack;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  line-height: 120px;
  letter-spacing: 3px;
  color: #ffffff;
}

.subtitulo {
  width: 800px;
  height: 25px;
  opacity: 1;
  top: 150px;
  font-family: OpenSans;
  font-weight: normal;
  font-style: normal;
  font-size: 50px;
  letter-spacing: 0%;
  color: #ffffff80;
}

.descripcion {
  padding-top: 50px;
  opacity: 1;
  font-family: "OpenSans";
  font-weight: normal;
  font-style: normal;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: 0%;
  color: #ffffff;
}

.imagen img {
  display: flex;
  height: auto;
  border-radius: 8px;
  padding-left: 400%;
  margin-top: -120%;
}

.botones {
  font-family: "OpenSans";
  font-weight: 600;
  font-style: normal;
  font-size: 48px;
  display: flex;
  gap: 80px;
  flex-wrap: nowrap;
  color: #ffffff;
  position: relative;
}

.botones a {
  color: #ffffff;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  text-decoration: none;
  background-image: linear-gradient(90deg, #4c1a97, #6d6dff);
  background-repeat: no-repeat;
  background-size: 100% 18px;
  background-position: 0 100%;
  padding-bottom: 28px;
}

.main {
  margin-left: 150px;
  margin-top: 1250px;
  overflow: visible;
}

.main-titulo {
  color: #ffffff;
  font-family: "ArchivoBlack";
  font-weight: 400;
  font-style: normal;
  font-size: 43px;
  line-height: 120px;
  letter-spacing: 3px;
}

.iconos {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.iconos img {
  width: 170px;
  height: 170px;
  padding-bottom: 50px;
  padding-right: 120px;
}

.proyectos {
  position: relative;
  z-index: 2;
  padding-top: 100px;
  aspect-ratio: 16/9;
}

.titulo-proyecto {
  font-family: ArchivoBlack;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-top: 30px;
}

.contenedor-proyectos {
  display: flex;
  margin-right: 120px;
  gap: 100px;
}

.card {
  background: #1c1c1c;
  flex-direction: column;
  display: flex;
  position: relative;
}

.imagen-card {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(to bottom, transparent 60%, rgba(0, 0, 0, 0.7));
}

.iconos-card {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  gap: 8px;
  z-index: 2;
}

.iconos-card img {
  width: 110px;
  height: 110px;
  border-radius: 6px;
  padding: 4px;
}

.contenido-card {
  padding: 50px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.contenido-card h3 {
  margin: 0;
  color: #ffffff;
  font-family: OpenSans;
  font-weight: 700;
  font-style: Bold;
  font-size: 65px;
  line-height: 100%;
  letter-spacing: 0%;
}

.contenido-card p {
  font-size: 14px;
  color: #ccc;
  font-family: "OpenSans";
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  line-height: 65px;
  letter-spacing: 5%;
}

.links {
  display: flex;
  gap: 40px;
  margin-top: auto;
}

.links a {
  text-decoration: none;
  color: #6d6dff;
  font-family: "Opensans";
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  line-height: 20px;
  justify-content: end;
  gap: 30px;
  padding-bottom: 60px;
}

.links img {
  width: 50px;
  height: 50px;
  padding-left: 30px;
}

.footer {
  position: relative;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  z-index: 1;
  padding-top: 300px;
}

.footer::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);

  width: 1990px;
  height: 1600px;

  background: radial-gradient(circle, rgba(80, 80, 200, 0.4), transparent 70%);

  z-index: -1;
  pointer-events: none;
}

.footer h2 {
  color: #ffffff;
  font-family: "ArchivoBlack";
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  margin: 0px;
  letter-spacing: 3px;
}

.email {
  color: #6d6dff;
  font-family: "Opensans";
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 50px;
}

.redes {
  display: flex;
  gap: 180px;
  padding-top: 80px;
}

.redes img {
  width: 100px;
  opacity: 0.8;
  transition: 0.3s;
}

.redes img:hover {
  opacity: 1;
  transform: scale(1.2);
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 320px) {
}
