@font-face {
  font-family: "OpenSans";
  src:
    url("../fonts/OpenSans-Regular.woff"),
    url("../fonts/OpenSans-Regular.woff2");
  font-weight: 400;
  font-style: Regular;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.woff"), url("../fonts/OpenSans-Bold.woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src:
    url("../fonts/OpenSans-SemiBold.woff"),
    url("../fonts/OpenSans-SemiBold.woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "ArchivoBlack";
  src:
    url("../fonts/ArchivoBlack-Regular.woff"),
    url("../fonts/ArchivoBlack-Regular.woff2");
  font-weight: 400;
  font-style: "Regular";
}

html {
  scroll-behavior: smooth;
}

body {
  background: #111111;
}

#contacto {
  position: absolute;
  top: 1718px;
}

.header-title {
  position: absolute;
  width: 793px;
  height: 156px;
  top: 89px;
  left: 120px;

  font-family: "ArchivoBlack";
  font-weight: 400;
  font-size: 72px;
  line-height: 1;
  color: white;
  margin: 0%;
}

.header::before {
  content: "";
  position: absolute;
  top: 150px;
  right: 140px;
  width: 590px;
  height: 590px;
  background: radial-gradient(circle, rgba(80, 80, 200, 0.3), transparent 70%);
}

.subtitulo {
  position: absolute;
  width: 790px;
  height: 25px;
  top: 260px;
  left: 120px;

  font-family: "OpenSans";
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff80;
  margin: 0%;
}

.descripcion {
  position: absolute;
  width: 793px;
  height: 150px;
  top: 315px;
  left: 120px;

  font-family: "OpenSans";
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0px;
  color: #ffffff;
  margin: 0%;
}

.botones {
  position: absolute;
  font-family: "OpenSans";
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  top: 495px;
}

.Descargar {
  display: inline-block;
  width: 115px;
  height: 25px;
  left: 120px;
  text-decoration: none;
  color: white;
}

.Enlace {
  display: inline-block;
  width: 138px;
  height: 25px;
  left: 265px;
  text-decoration: none;
  color: #ffffff;
}

.Hablemos {
  display: inline-block;
  width: 88px;
  height: 25px;
  left: 433px;
  text-decoration: none;
  color: #ffffff;
}

.botones a {
  position: relative;
  background-image: linear-gradient(90deg, #4c1a97, #6d6dff);
  background-repeat: no-repeat;
  background-size: 100% 5px;
  background-position: bottom;
  padding-bottom: 5px;
}

.imagen img {
  position: absolute;
  width: 387px;
  height: 500px;
  top: 40px;
  left: 933px;
}

.main-titulo {
  position: absolute;
  width: 603px;
  height: 44px;
  top: 640px;
  left: 120px;
}

h1 {
  color: #ffffff;
  font-family: "ArchivoBlack";
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: 0px;
  margin: 0px;
}

.iconos {
  position: absolute;
  top: 734px;
  width: 50px;
  height: 57px;
  display: flex;
  flex-wrap: nowrap;
}

.html {
  position: absolute;
  left: 120px;
}

.css {
  position: absolute;
  left: 350px;
}

.js {
  position: absolute;
  left: 580px;
}

.page {
  position: absolute;
  left: 810px;
}

.git {
  position: absolute;
  left: 1040px;
}

.chatgpt {
  position: absolute;
  left: 1270px;
}

.titulo-proyecto {
  position: absolute;
  color: #ffffff;
  font-family: "ArchivoBlack";
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: 0%;

  width: 487px;
  height: 44px;
  top: 891px;
  left: 120px;
  margin: 0%;
}

.imagen-card img {
  position: absolute;
  top: 985px;
  left: 120px;
  width: 590px;
  height: 330px;
}

.overlay {
  position: absolute;
  top: 985px;
  left: 120px;
  width: 590px;
  height: 330px;
  padding-top: 30px;
  overflow: hidden;
  background: linear-gradient(to bottom, transparent 60%, rgba(0, 0, 0, 0.7));
}

.iconos-card img {
  width: 40px;
  height: 40px;
  top: 1265px;
}

.primero {
  padding-left: 20px;
}

.segundo {
  padding-left: 80px;
}

.card {
  background: #1c1c1c;
  position: absolute;
  width: 590px;
  height: 330px;
  top: 1315px;
  left: 120px;
}

.contenido-card h3 {
  position: absolute;
  color: #ffffff;
  font-family: "OpenSans";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0px;

  width: 339px;
  height: 33px;
  top: 1345px;
  left: 150px;
  margin: 0%;
}

.contenido-card p {
  position: absolute;
  color: #ffffff;
  letter-spacing: 0px;
  font-family: "OpenSans";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;

  width: 530px;
  height: 175px;
  top: 1398px;
  left: 150px;
  margin: 0%;
}

.Demo {
  position: absolute;
  width: 132px;
  height: 22px;
  top: 1603px;
  left: 150px;
}

.GitHub {
  position: absolute;
  width: 83px;
  height: 22px;
  top: 1603px;
  left: 302px;
}

.imagen-card2 img {
  position: absolute;
  top: 985px;
  left: 730px;
  width: 590px;
  height: 330px;
}
.overlay2 {
  position: absolute;
  top: 985px;
  left: 730px;
  width: 590px;
  height: 330px;
  overflow: hidden;
  background: linear-gradient(to bottom, transparent 60%, rgba(0, 0, 0, 0.7));
}

.iconos-card2 img {
  width: 40px;
  height: 40px;
  top: 1265px;
}

.tercero {
  padding-left: 20px;
}

.cuarto {
  padding-left: 80px;
}

.card-2 {
  position: absolute;
  background-color: #1c1c1c;
  width: 590px;
  height: 330px;
  top: 1315px;
  left: 730px;
}

.contenido-card2 h3 {
  position: absolute;
  font-family: "OpenSans";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0px;
  color: #ffffff;

  width: 143px;
  height: 33px;
  top: 1345px;
  left: 760px;
  margin: 0%;
}

.contenido-card2 p {
  position: absolute;
  color: #ffffff;
  letter-spacing: 0px;
  font-family: "OpenSans";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;

  width: 530px;
  height: 25px;
  top: 1398px;
  left: 760px;
  margin: 0%;
}

.Demo2 {
  position: absolute;
  width: 132px;
  height: 22px;
  top: 1603px;
  left: 760px;
}

.Github2 {
  position: absolute;
  width: 83px;
  height: 22px;
  top: 1603px;
  left: 912px;
}

.footer h2 {
  position: absolute;
  font-family: "ArchivoBlack";
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;

  width: 201px;
  height: 44px;
  left: 636px;
  margin: 0%;
}

.email {
  position: absolute;
  font-family: "OpenSans";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0px;
  text-align: center;
  color: #6d6dff;

  margin-top: 65px;
  width: 194px;
  height: 25px;
  left: 624px;
}

.redes {
  position: absolute;
  display: flex;
  gap: 120px;
  margin: 0%;
  justify-content: center;
  left: 552px;
  margin-top: 117px;
}

.redes img {
  position: absolute;
  width: 24px;
  height: 24px;
  opacity: 0.8;
  transition: 0.3s;
}

.redes img:hover {
  opacity: 1;
  transform: scale(1.2);
}

.footer::after {
  content: "";
  position: absolute;
  left: 357px;
  width: 760px;
  height: 418px;
  margin-top: -140px;
  background: radial-gradient(circle, rgba(80, 80, 200, 0.4), transparent 70%);
  z-index: -1;
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 320px) {
}
